global
  maxconn 64

defaults
  mode tcp
  timeout connect 5s
  timeout client 25s
  timeout server 25s

frontend scanner
  bind :3310
  default_backend clamd

backend clamd
  server clamav clamav:3310 check
